/* 您的 CSS 样式 */
body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  margin-top: 10px;
}

#game-container {
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 5px;
  width: 95%;
  max-width: 1200px;
  margin: 10px auto;
}

#start-game-button {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

.player-area {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 玩家布局 */
#player-top {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center; /* 垂直居中 */
}

#player-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex; /* 使用 flexbox 布局内容 */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player-center { /* 自己的手牌 */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#player-right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex; /* 使用 flexbox 布局内容 */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.player-area h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 50px;
  height: 75px;
  border: 1px solid #ccc;
  margin: 2px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.card.back {
  background-image: url('/images/back.png');
}

/* 新增牌堆样式 */
.card-pile {
    /* 继承 .card.back 的样式 */
    width: 80px; /* 调整牌堆大小 */
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    /* 其他堆叠效果样式可以在这里添加 */
}
