<!DOCTYPE html>
<html>
<head>
  <title>十三水</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>十三水游戏</h1>

  <div id="game-area">
    <!-- 游戏界面将在这里动态生成 -->
  </div>

  <script src="/js/script.js"></script>
</body>
</html>
