<!DOCTYPE html>
<html>
<head>
  <title>十三水</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>十三水游戏</h1>

  <div id="game-area">
    <button id="start-game-button">开始游戏</button>
    <div id="player-hands">
      <!-- 玩家手牌将在这里显示 -->
    </div>
  </div>

  <script src="/js/script.js"></script>
</body>
</html>
