<!DOCTYPE html>
<html>
<head>
  <title>十三水</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>十三水游戏</h1>

  <div id="game-container">
    <button id="start-game-button">开始游戏</button>
    <!-- 玩家手牌区域将由 JavaScript 动态创建和添加到这里 -->
  </div>

  <script src="/js/script.js"></script>
</body>
</html>
